/*sudoku.css*/
body {
    font-family: Arial, Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#check-solution {
    margin: 10px;
}

#sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(9, auto);
    gap: 1px;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.cell input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    font-size: 20px;
}

.subgrid {
    border-left: 2px solid rgba(0, 0, 0, 1);

}

/* Thicker borders to define 3x3 sub-grids */
.cell:nth-child(3n + 1) {
    border-left: 2px solid rgba(0, 0, 0, 1); /* Left border for the first cell in each 3x3 block */
}
.cell:nth-child(3n) {
    border-right: 2px solid rgba(0, 0, 0, 1); /* Right border for the last cell in each 3x3 block */
}

.cell:nth-child(n+19):nth-child(-n+27),
.cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 2px solid rgba(0, 0, 0, 1); /* Bottom border for the 3rd and 6th row */
}

.cell:nth-child(-n+9) {
    border-top: 2px solid rgba(0, 0, 0, 1); /* Top border for the first row */
}